.main   {
    background-color: dimgray;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}

.navbarClass{
    position: fixed;
    top:0;
    left:0;
    left:0;
    width:100%;
    z-index: 1000;
}
#navbarUl {
    position: relative;
    list-style-type: none;
    margin:0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #529bff;
    height:2.5em;
    text-align:center;
}

.navbarLi {
    position:relative;
    top:0.5em;
    border: 1px solid #529bff;
    max-width:15em;
    display:inline-block;
}

.navbarLi a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
}

.navbarLi a:hover {
    border: 2px solid #f0faff;

}

